# :( hack to make deploy work with old restclients
djangorestframework<3.0
# Python 2.7 compat
setuptools<45.0
-e git+https://github.com/uw-it-aca/scout@master#egg=scout
-e git+https://github.com/uw-it-aca/scout-manager@master#egg=scout-manager
-e git+https://github.com/uw-it-aca/uw-restclients-spotseeker.git@v0.1#egg=uw_restclients_spotseeker
-e git+https://github.com/charlon/django-hybridize@master#egg=hybridize
