-e git+https://github.com/uw-it-aca/scout@story/master#egg=scout
-e git+https://github.com/uw-it-aca/spotseeker_client@master#egg=spotseeker_restclient
-e git+https://github.com/charlon/django-hybridize@master#egg=hybridize
